{% extends "admin_base.html" %}
{% block connect %}
    <form method="post">
        <div class="layui-form-item">

            <label class="layui-form-label">分类名称：</label>
            <div class="layui-input-block">
                <input type="text" name="title" required  lay-verify="required"  placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <input class="layui-btn" type="submit">
        </div>
    </form>
{% endblock %}