

  <div class="layui-side layui-bg-green">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree layui-bg-green"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed ">
          <a href="/admin/editor">写文章</a>
        </li>
        <li class="layui-nav-item">
          <a href="/admin/article_list">文章列表</a>
        </li>
          <li class="layui-nav-item ">
          <a href="/admin/editor/newclass">新建分类</a>
        </li>
        <li class="layui-nav-item"><a href="/admin/class_list">分类管理</a></li>
        <li class="layui-nav-item"><a href="/admin/comments">评论管理</a></li>
          <li class="layui-nav-item"><a href="/admin/editor/newfriends">友链管理</a> </li>
      </ul>
    </div>
  </div>