
{% extends "base.html" %}
{% block title %}博客首页{% endblock %}
{% block maintext %}
    {% for i in artists %}
        <div class="layui-card">
            <div class="layui-card-header"><a href="/article?article_id={{ i[0] }}"><h1>{{ i[1] }}</h1></a></div>
            <div class="layui-card-body">
                <div class="layui-text">
                    <p>{{ i[2][0:300] }}</p>
                    <br>
                    <div >
                        浏览量：<span class="layui-badge">{{ i[3] }}</span>&nbsp;&nbsp;
                        点赞数：<span class="layui-badge">{{ i[6] }}</span>&nbsp;&nbsp;
                        评论数：<span class="layui-badge">{{ i[4] }}</span>&nbsp;&nbsp;
                        发布时间：<span class="layui-badge-rim">{{ i[5] }}</span>&nbsp;&nbsp;
                                            <a href="/article?article_id={{ i[0] }}">查看全文</a>

                    </div>
                </div>
            </div>

        </div>
    {% endfor %}

{% endblock %}