<ul class="layui-nav layui-bg-green">
    <li class="layui-nav-item"><a href="/">Virtual-Blog</a></li>

    <li class="layui-nav-item layui-this">
        <a href="/">首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">文章分类</a>
    <dl class="layui-nav-child">
        {% for artistclassi in artistclass %}
        <dd><a href="/articleClass?classname={{ artistclassi }}">{{ artistclassi }}</a></dd>
        {% endfor %}
    </dl>
    </li>
    <li class="layui-nav-item ">
        <a href="/article?article_id=9">关于本站</a>
    </li>
     <ul class="layui-nav layui-layout-right layui-bg-green">
      <li class="layui-nav-item layui-bg-green">
        <a href="javascript:;">
          <img src="/static/img/avatar.jpg" class="layui-nav-img">
            {% if user_name %}
                {{ user_name }}
                </a></li><li class="layui-nav-item"><a href="/?exit=1">退出登陆</a></li>

            {% else %}
                未登录
                </a></li><li class="layui-nav-item"><a href="/admin/login">请先登录</a></li>
            {% endif %}

    </ul>
</ul>
</br>
</br>
